{% extends "main/base.html" %}

{% block title %} Completed Task {% endblock %}

{% block style %}
    {{ block.super }}

    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Completed Task</h1>

        {% include "main/breadcrumbs.html" %}

        <hr>
        {% for date, tasks in grouped_completed_tasks.items %}
            <div class="card border shadow p-3 mt-4">
                <p><b>{{ date }}</b></p>
                {% if tasks %}
                    {% for task in tasks %}
                        <p class="form-control">{{ task.completed_task_title }}</p>
                    {% endfor %}
                {% endif %}

                {% empty %}
                    <p class="text-muted">You haven't completed any tasks for this date.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
